.slide {
    display: flex;
    justify-content: center;
    padding: 100px 0px;

    .container {
        width: 1240px;
        position: relative;
        padding-left: 30px;
        display: flex;
        flex-direction: column;


        .slides {
            position: relative;

            .slick-prev,
            .slick-next {
                position: absolute;
                top: 50%;
                z-index: 10;
            }
            .slick-prev {
                left: 1%;
                color: black;
            }
            .slick-next {
                right: 2%;
                color: black;
            }
        }
    }
}